useDynLib(Sshaped, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom("graphics", "lines")
importFrom("stats", "approx")
export(sshapedreg)
export(cvxreg)
S3method(plot, sshaped)
export(plot.sshaped)
S3method(predict, sshaped)
export(predict.sshaped)
